* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:lightgray;
    padding: 15px;
    margin: 10px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.loginttl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color:grey;
    padding: 15px;
    margin: 10px;
}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: lavender;
    cursor: pointer;
    margin-bottom: 15px;
}